

.checkbox-list-container {
    margin: 1rem 0;
    max-width: 600px;
  }
  
  .controls {
      margin-bottom: 10px;
    }
    
    .checkbox-list {
      display: flex;
      flex-wrap: wrap;
      gap: .75rem;
      margin: .5rem 0;
    }
    
    .checkbox-item {
      flex: 1 1 calc(33.333% - 10px);
      display: flex;
      align-items: center;
    }
    
    .checkbox-item input {
      margin-right: 5px;
    }
    
    @supports (display: grid) {
      .checkbox-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
      .checkbox-item {
        flex: 1 1 auto;
      }
    }
    